html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    background-color: rgb(30, 30, 30);
    font-size: 20px;
    font-family: monospace;
    color: white;
    padding-bottom: 10.4rem;
    box-sizing: inherit;
    min-height: 100%;
    max-width: 100%;
}

.banner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}

.banner img {
    width: 15em;
    margin-top: 1rem;
    max-width: 100%;
}

.menu {
    margin: 0 auto;
    font-size: 27px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 45px;
    max-width: 100%;
}

.container1, .container2,
.container3, .container4 {
    margin-right: 3em;
    width: 12.5%;
    max-width: 100%;
    min-width: 6%;
}

.container1 {
    padding-left: 1.5em;
    max-width: 100%;
}

.container1 a, .container2 a,
.container3 a, .container4 a {
    width: 26%;
    text-decoration: none;
    color: white;
    transition: all 0.4s;
    position: relative;
    max-width: 100%;
}

.container1 a:hover, .container2 a:hover,
.container3 a:hover, .container4 a:hover {
    color: #9000ff;
    font-weight: bold;
    font-size: 30px; 
    text-shadow: 0px 0px 25px #9000ff,
                 0px 0px 10px #9000ff,
                 0px 0px 3px #9000ff;
    max-width: 100%;
}

.container1 a::after, .container2 a::after,
.container3 a::after, .container4 a::after {
    content: attr(data-text);
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    color: #a125ff;
    transform: scaleY(-0.73);
    opacity: 0;
    transition: opacity 0.4s;
    max-width: 100%;
}

.container1 a:hover::after, .container2 a:hover::after,
.container3 a:hover::after, .container4 a:hover::after {
    opacity: 0.25;
    max-width: 100%;
}

hr {
    border: 1.6px solid black;
    width: 1240px;
    margin-bottom: 0;
    max-width: 100%;
}

.main > * {
    margin: 0 auto;
    padding: 20px;
    width: 1200px;
    max-width: 100%;
}

.main img {
    padding-top: 10px;
    padding-right: 5px;
    height: 40px;
    width: 40px;
    max-width: 100%;
}

p, .social, .certificates {
    margin: 0 auto;
    background: rgb(20, 20, 20);
    border: 1px solid black;
    border-radius: 0.5rem;
    height: max-content;
    max-width: 100%;
}

audio {
    width: 30%;
    max-width: 100%;
}

.certificates img{
    width: 150px;
    height: 150px;
    max-width: 100%;
}

.certificates p {
    border: 0;
}

.social {   
    display: inline-block;
    text-align: center;
    width: 280px;
    padding: 10px;
    margin: 0px;
    max-width: 100%;
}

.social p {
    border: none;
    width: max-content;
    padding-top: 1em;
    height: 30px;
    max-width: 100%;
}

p > a {
    text-decoration: none;
    color: #9000ff;
    max-width: 100%;
} 

.contacts {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 1240px;
    max-width: 100%;
}

footer {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9000ff;
    border-top: 2px solid black;
    max-width: 100%;
}

@media (max-width: 1242px) {
    .banner img {
        width: 12em;
    }

    .menu {
        font-size: 25px;
    }

    .contacts {
        height: 522px;
        display: list-item;
        text-align: center;
    }

    .social, .certificates {
        margin-bottom: 10px;
        min-width: 360px;
        padding-bottom: 0px;
    }

    .main p, .certificates{
        font-size: 18px;
        padding: 10px 0px;
    }

}

@media (max-width: 505px) {
    .banner img {
        width: 10em;
    }

    .menu {
        font-size: 20px;
    }

    .container1 a:hover, .container2 a:hover,
    .container3 a:hover, .container4 a:hover {
        font-size: 25px;
    } 

    .main p{
        font-size: 16px;
        padding: 10px 0px;
    }
}