html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    margin: 0 auto;
    background-color: rgb(30, 30, 30);
    font-size: 20px;
    font-family: Consolas, monospace;
    color: white;
    max-width: 100%;
}

h4 {
    margin: 8px;
    text-align: right;
    max-width: 100%;
}

.banner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}

.banner img {
    width: 15em;
    max-width: 100%;
}

.menu {
    margin: 0 auto;
    font-size: 27px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 75px;
    max-width: 100%;
}

.container1, .container2,
.container3, .container4 {
    margin-right: 3em;
    width: 12.5%;
    max-width: 100%;
}

.container1 {
    padding-left: 1.5em;
}

.container1 a, .container2 a,
.container3 a, .container4 a {
    width: 26%;
    text-decoration: none;
    color: white;
    transition: all 0.4s;
    max-width: 100%;
    position: relative;
}

.container1 > a:hover, .container2 a:hover,
.container3 a:hover, .container4 a:hover {
    color: #9000ff;
    font-weight: bold;
    font-size: 30px; 
    text-shadow: 0px 0px 25px #9000ff,
                 0px 0px 10px #9000ff,
                 0px 0px 3px #9000ff;
}

.container1 a::after, .container2 a::after,
.container3 a::after, .container4 a::after {
    content: attr(data-text);
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    color: #a125ff;
    transform: scaleY(-0.6);
    opacity: 0;
    transition: opacity 0.4s;
}

.container1 a:hover::after, .container2 a:hover::after,
.container3 a:hover::after, .container4 a:hover::after {
    opacity: 0.25;
}

.main {
    border-radius: 8px;
    border: 1px solid black;
    width: 1240px;
    margin: 0 auto;
    max-width: 100%;    
}

.main > p {
    background: rgb(20, 20, 20);
    margin: 0;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 100%;
}